{
  "templatesDir": "/Users/david/git/tqmall/saint/templates",
  "tableSqlPath": "/Users/david/git/tqmall/saint/templates/saint.dal/saint_customer_search_template.sql",
  "outputDir": "/Users/david/git/tqmall/saint/templates/saint/output",
  "project":"crm",
  "superPakage":"template",
  "templates": {
    "mapper.xml.vm": {
      "outFileSuffix": ".xml",
      "packagePrefix": ""
    },
    "entity.java.vm": {
      "outFileSuffix": ".java",
      "packagePrefix": "com.tqmall.saint.entity"
    },
    "dao.java.vm": {
      "outFileSuffix": "Dao.java",
      "packagePrefix": "com.tqmall.saint.dao"
    },
    "service.java.vm": {
      "outFileSuffix": "Service.java",
      "packagePrefix": "com.tqmall.saint.biz"
    },
    "serviceImpl.java.vm": {
      "outFileSuffix": "ServiceImpl.java",
      "packagePrefix": "com.tqmall.saint.biz"
    },
    "bo.java.vm": {
      "outFileSuffix": "BO.java",
      "packagePrefix": "com.tqmall.saint.biz.paramBO"
    },
    "resultVO.java.vm": {
      "outFileSuffix": "ResultVO.java",
      "packagePrefix": "com.tqmall.saint.web.resultVO"
    },
    "inputVO.java.vm": {
      "outFileSuffix": "InputVO.java",
      "packagePrefix": "com.tqmall.saint.web.inputVO"
    },
    "controller.java.vm":{
      "outFileSuffix": "Controller.java",
      "packagePrefix": "com.tqmall.saint.web"
    }
  }
}